# ------------------------------
# Python cache / bytecode
# ------------------------------
__pycache__/
*.py[cod]
*.pyo

# ------------------------------
# Environnements virtuels
# ------------------------------
.venv/
env/
ENV/

# ------------------------------
# Jupyter Notebook
# ------------------------------
.ipynb_checkpoints/

# ------------------------------
# Dossiers de données / résultats
# ------------------------------
data/
results/

# ------------------------------
# Fichiers système
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# Logs et fichiers temporaires
# ------------------------------
*.log
*.tmp
